
@{
    ViewBag.Title = "OrderNow";
}


<div style="background-color:antiquewhite">
    <h2 style="color:darkblue"> !!! Your order has placed Successfully !!!</h2>
    <p style="color:crimson">Click on Home...@Html.ActionLink("Home","Index")</p>
</div>

